body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/016/776/606/non_2x/realistic-valentines-day-red-background-with-hearth-vector.jpg");
    background-size:cover; 
    background-position:center; 
    background-repeat: no-repeat; 
    margin: 0; 
    /* height: 100vh;  */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
}
#button, #second {
  font-family:cursive;
    padding: 20px 40px;
    font-size: 20px;
    position:fixed;
    cursor:pointer;
    transition: all 0.01s ease;
  display:inline-flexbox;
  background-color:bisque;
  text-transform: initial;
  border-radius: 100px;
  /* margin-top: 700px; */

}
#button{
  
}

h1{
  font-family:cursive;
  margin-top: 200px;
  /* margin-top: 200px; */
  text-align:center;
  text-transform: uppercase;
  color: rgb(11, 6, 6);
  border: 2px rgb(229, 160, 160) solid;
}


